// views/account/login.pug
doctype html
html
  head
    title Login
  body
    h1 Login Page
    form(action="/login", method="POST")
      label(for="username") Username:
      input(type="text", name="userName", id="userName")
      br
      label(for="password") Password:
      input(type="password", name="password", id="password")
      br
      button(type="submit") Login

