// views/account/register.pug
doctype html
html
  head
    title Register
  body
    h1 Register Page
    form(action="/register", method="POST")
      label(for="username") Username:
      input(type="text", name="username", id="username")
      br
      label(for="password") Password:
      input(type="password", name="password", id="password")
      br
      label(for="email") Email:
      input(type="email", name="email", id="email")
      br
      button(type="submit") Register
