// views/account/register.pug
doctype html
html
  head
    title Register
  body
    form(action="/auth/register" method="POST")
      input(type="text" name="userName" placeholder="Username" required)
      input(type="email" name="email" placeholder="Email" required)
      input(type="password" name="password" placeholder="Password" required)
      select(name="role")
        option(value="principal") Principal
        option(value="teacher") Teacher
        option(value="student") Student
      button(type="submit") Register
